body {
  /* font-family: sans-serif; */
  font-family: 'Spartan';
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.left {
  align-items: center;
  background-color: beige;
}

.right {
  align-items: center;
  background-color: lightgray;
}

.allStocks {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.singleStock {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.title {
  font-family: 'Barlow Semi Condensed';
}

table,
tr,
td {
  border: 1px solid black;
  width: 100%;
}
