body {
  /* font-family: sans-serif; */
  font-family: 'Spartan';
  background-color: ivory;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

.marketClosed {
  color: red;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navtitle {
  color: rgb(228, 135, 29);
  margin-left: 10px;
}

nav a {
  display: inline-block;
  margin: 1em;
}

a {
  color: rgb(228, 135, 29);
}

form div {
  margin: 1em;
  display: inline-block;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.column {
  /* display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.left {
  /* align-items: center; */
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  margin-top: 10px;
  padding: 20px;
}

.right {
  /* border-radius: 10px;
  flex-direction: column;
  display: flex;
  align-items: center;
  background-color: lightgray; */
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  margin-top: 10px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  position: sticky;
}

hr.break {
  border-top: 1px solid black;
  width: 100%;
}

.allStocks {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.singleStock {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.title {
  font-family: 'Barlow Semi Condensed';
}

table,
tr,
td {
  border: 1px solid black;
  width: 100%;
}

.aboveOpen {
  color: green;
}

.equalOpen {
  display: flex;
  justify-content: center;
  color: grey;
}

.belowOpen {
  color: red;
}
